version: 2.1

jobs:
  build:
    docker:
      - image: circleci/openjdk:11-jdk
    steps:
      - checkout:
          path: /home/circleci/project
      - run: ls -la
      - run:
          command: |
            javac -d target services/app1/src/main/java/com/example/App1.java
            jar cvf target/App1.jar target/App1.class
      - run: ls -la target/

workflows:
  build-and-test:
    jobs:
      - build:
          filters:
            branches:
              only: master
