version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          mapping: |
            services/app1/.* run-build-app-1-job true
            services/app2/.* run-build-app-2-job true
            services/app3/.* run-build-app-3-job true
          # base-revision: master
          config-path: .circleci/continue_config.yml
