version: 2.1

parameters:
  run-build-app-1-job:
    type: boolean
    default: false
  run-build-app-2-job:
    type: boolean
    default: false
  run-build-app-3-job:
    type: boolean
    default: false

orbs:
  path-filtering: circleci/path-filtering@0.1.1

workflows:
  always-run:
    jobs:
      - path-filtering/filter:
          name: check-updated-files
          base-revision: master
          config-path: services/app1/.circleci/config_app1.yml
