version: 2.1

setup: true

parameters:
  run-build-app-1-job:
    type: boolean
    default: false
  run-build-app-2-job:
    type: boolean
    default: false
  run-build-app-3-job:
    type: boolean
    default: false

orbs:
  continuation: circleci/continuation@0.1.2

jobs:
  setup:
    executor: continuation/default
    steps:
      - checkout
      - continuation/continue:
          configuration_path: services/appa1/.circleci/config_app1.yml


workflows:
  setup:
    when: << pipeline.parameters.run-build-app-1-job >>
    jobs:
      - setup
